<!doctype html>
<title>Simple IPL predictor</title>
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1><center>Simple IPL predictor game</center></h1>
        <br><br>
        <ul>
            <li>If you have not registered , Click on Add Player </li>
            <li>If you have registered , Click on Make Predictions </li>
            <li>Submit Predictions to save predictions </li>
            <li>After submitting predictions , you can click on match leaderboard to view your position</li>
            <li>You can go to View Predictions to view your predictions</li>
            <li>You can go to Points breakdown from the View Predictions Page</li>
            <li>Final Leaderboard is updated after every match contains your position after summing up points from every match</li>

        </ul>
    <br><br>
    <a href={{ url_for("add_player") }}>Add Player</a>

        
    <br><br>
    <a href={{ url_for("make_predictions") }}>Make Predictions</a>
    <br><br>
    <a href={{ url_for("get_leaderboard") }}>Final Leaderboard</a>
    <br><br>
    <a href={{ url_for("match_leaderboard") }}>Match Leaderboard</a>
    <br><br>
    <a href={{ url_for("view_predictions") }}>View Predictions</a>

    </body>
</html> 
 