<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        
        
        <h3> <center> Points breakdown for {{ match_name }} </center> </h3>
  <table border = 1, style="margin:auto;max-width:800px">
    <tr>
        <th>User</th>
        {% for keys in player_prediction_data["rsumit123"].keys() %}
        <th>{{ keys }}</th>
        {% endfor %}
        

    </tr>
    {% for key, value in player_prediction_data.items() %}

    <tr>
       <td> {{ key }} </td>
       {% for k, v in value.items() %}
       {% for i, j in v.items() %}
       

       <td> {{ i }} | Points : {{ j }} </td>
       {% endfor %}
       
       {% endfor %}
    </tr>

    {% endfor %}
 </table>
    
    
    <a href={{ url_for("home") }}>Go Back to Home</a>
    <br><br>
    <a href={{ url_for("make_predictions") }}>Make Predictions</a>
    <br><br>
    <a href={{ url_for("get_leaderboard") }}>Final Leaderboard</a>
    <br><br>
    <a href={{ url_for("match_leaderboard") }}>Match Leaderboard</a>
    <br><br>
    <a href={{ url_for("add_player") }}>Add Player</a>
    </body>
</html> 